<nav class="navbar bg-primary bg-gradient p-0 d-flex" data-bs-theme="dark">

  <a class="navbar-brand me-auto p-0" href="#">
    <div class="d-flex align-content-around ">
      <img class="w-25 p-1" src="../../assets/recursos/img/Logo/Logo.png" placeholder="Logo"> <!-- TODO -->
      <p class="mt-auto mb-auto fw-bold ps-1">Grimorio</p>
    </div>
  </a>

  <form class="d-flex p-2 w-50" role="search">
    <input class="form-control me-2 bg-light bg-gradient text-secondary" type="search" placeholder="Search"
      aria-label="Search">
    <button class="btn btn-success" type="submit">Buscar</button>
  </form>
  <button class="navbar-toggler p-2 collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
